<?xml version="1.0" encoding="UTF-8"?>
<EventLog>
    <Events>
        <Event id="0">
            <Severity>1</Severity>
            <Source>com.WillisWare.EventViewer.Web</Source>
            <Timestamp>2020-01-01T00:01:00.000</Timestamp>
        </Event>
        <Event id="1">
            <Severity>1</Severity>
            <Source>com.WillisWare.EventViewer.Web</Source>
            <Timestamp>2020-01-01T00:01:01.000</Timestamp>
        </Event>
    </Events>
</EventLog>